<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Show EJS</title>
</head>
<body>
    <h1>At foo bar</h1>
    <p>
        <h2><%= drink.name.charAt(0).toUpperCase()+ drink.name.substring(1) %></h2></br>
        <img src= <%= drink.image %>></br>
        <!-- not sure how to edit jpg to png, but the jpg seemed to be visisble on the site -->
        <h3>$<%= drink.price %></h3></br>
      <a href="/drinks">Back to Index</a>
    </p>
</body>
</html>