<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" />
    <title>Food Show EJS</title>
</head>
<body>
    <h1>Food Menu</h1>
    <p>
        <h2><%= foods.name.charAt(0).toUpperCase()+ foods.name.substring(1) %></h2></br>
        <img src= <%= foods.image %>></br>
        <!-- not sure how to edit jpg to png, but the jpg seemed to be visisble on the site -->
        <h3>$<%= foods.price %></h3></br>
      <a href="/drinks">Back to Index</a>

    </p>
</body>
</html>